.hidden {
    display: none;
}

#loading {
    font-size: 18px;
    margin-top: 10px;
}

#responseContainer {
    white-space: pre-line; /* This will preserve newlines and spaces */
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    background-color: #f2f2f2;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
}

th, td {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

th {
background-color: #f2f2f2;
}

button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    background-color: #f2f2f2;
    cursor: pointer;
}
  
#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 30px 24px 30px;
}
