.hidden {
    display: none;
}

#loading {
    font-size: 18px;
    margin-top: 10px;
}

#responseContainer {
    white-space: pre-line; /* This will preserve newlines and spaces */
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

input {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
}

th, td {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

th {
background-color: #f2f2f2;
}
  
